.editor {
  display: flex;
  justify-content: center;
  @media (max-width: 45rem){
    flex-direction: column;
  }
}

.textarea, .editor__preview {
  width: 500px;
  height: 550px;
  padding: 20px;
  overflow-y: auto;
  font-size: $font-size-large;
  @media (max-width: 45rem){
    width: 100%;
  }
}

.textarea {
  margin-right: 15px;
  font-size: $font-size-large;
  border: $xxs-size solid rgb(63, 63, 63);
  @media (max-width: 45rem){
    margin-right: 0;
  }
}
.editor__preview {
  background: white;
  margin-left: 15px;
  border: $xxs-size solid blue;
  @media (max-width: 45rem){
    margin-left: 0;
  }
}

