.editor {
  display: flex;
  justify-content: center;
}

.textarea, .editor__preview {
  width: 500px;
  height: 550px;
  padding: 20px;
}

.textarea {
  margin-right: 15px;
  font-size: $font-size-large;
  border: $xxs-size solid rgb(63, 63, 63);
}
.editor__preview {
  background: white;
  margin-left: 15px;
  border: $xxs-size solid blue;
}

