footer {
  text-align: center;
  font-size: $font-size-small;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  color: rgb(20, 20, 20);
  @media (max-width: 45rem){
    position: relative;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    &:hover {
     text-decoration: underline; 
    }
  }
}

.fa-react {
  color: $react-color;
}

.fa-heart{
  color: $brilliant-red;
}

.fa-code {
  color: $grey;
}

.fa-twitter {
  color: $twitter-color;
}