@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');


* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; 
}

body {
  background-color: #ECECEC;
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled{
  cursor: default;
}

.is-active {
  font-weight: bold;
}

