// here goes the variables

// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88cb;
$dark-blue: #364051;
$off-white: #f7f7f7;
$react-color: #15aabf;
$twitter-color: #1da1f2;
$brilliant-red: rgb(233, 3, 3);

// Fonts
$font-size-xlarge: 3.5rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xxs-size: .3rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// display sizes

$desktop-breakpoint: 45rem;